@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600&display=swap');

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$color-primary: #26d4ff;
$color-secondary: #333747;
$color-gray: #111;
$color-gray-light: #313131;
$color-primary-dark: #1fbfe7;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin skill($name, $value) {
    animation: $name .6s linear;
    width: $value;

    @at-root {
        @keyframes #{$name} {
            0% {
                width: 0%;
            }

            100% {
                width: $value;
            }
        }
    }
}